In [3]:
import pandas as pd
import numpy as np

In [4]:
shrey=pd.read_csv('shrey.csv')

In [5]:
shrey

     id  age      place
0  2605   19  faridabad
1  1712   20    dimapur
2  2345   19      delhi
3  9899   19  faridabad